.custom-box {
    width: 100px;
    margin: 5em;
    padding: 10px;
    border: solid 3px #a57a7a;
    background-color: #070707;
    text-align: center;
  }
  
  .custom-text {
    color: rgb(252, 252, 252);
  }
  
  .custom-submit {
    display: inline-block;
  }
  
  input[type="submit"],
  .cancel-btn {
    background: linear-gradient(to bottom, #4CAF50 0%, #45a049 100%);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .cancel-btn {
    background-color: #4CAF50;
  }
  
  .goal-text {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }