body{
    margin: 0;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(173, 221, 40);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
    background-color: rgb(47, 0, 255);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.title{
    padding: 2vw;
    text-align: center;
    height: auto;
    width: 100%;
}
.title img{
    height: auto;
    width: 60%;
}
.menu ul{
    display: flex;
    background-color: #f0f;
    padding:50px;
    text-align:center;
}
.menu li{
    font-size:2vw;
    display: inline-block;
    margin: 0 100px;
    list-style: none;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 320px;
    height: 64px;
    padding: 8px 24px;
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: center;
    overflow-wrap: anywhere;
    background-color: blue;
    border-radius: 32px;
    /* (buttonの高さ / 2) の値 */
}
.sign{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 320px;
    height: 64px;
    padding: 8px 24px;
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: center;
    overflow-wrap: anywhere;
    background-color: blue;
    border-radius: 32px;
    /* (buttonの高さ / 2) の値 */
}