body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.form-container {
    width: 600px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    height: 80vh;
}

.highlighted-text{
    color: #F00;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #333;
    border-radius: 10px;
    font-size: 18px;
}

.submit-button {
    width: 94%;
    padding: 10px;
    background-color: #006eff;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 2em;
}

textarea {
    resize: none;
    height: 5em;
}